/* 自定义Markdown样式 */
.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
    background-color: transparent !important;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}

/* 链接样式 */
a {
    color: #4da6ff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #007bff;
    text-decoration: underline;
}
